.navbar {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    background-color: #00754F;
}

.navbar-brand {
    font-size: 2rem;
}

.tletra {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 0.80em;
}
body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
}

.icons {
    color: #00754F;
}

.bg-card {
    background: #00754F;
}
h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.yo {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.foto {
    background-image: url('img/bg.diana.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40rem;
}
header {
    text-shadow: 100rem;
    padding: 25rem;
}
.fab {
    color: #ffffff;
}

footer {
    background-color: #00754F;
}

.boton-subir {
    position: fixed;
    bottom: 0;
    right: 0;
}

.line-cont {
    text-align: center;
}

.line-cont .line {
    display: inline-block;
    width: 4rem;
    height: 2px;
    background: #000;
}

footer a {
    padding-right: 5px;
}